footer#footer
  link(href="/footer/footer.css", rel="stylesheet")
  | © 2017 - ShiningDan 的主页 - 
  a(href='http://www.miitbeian.gov.cn/', target='_blank') 京 ICP 备 15046275 号
  br  
  | Powered by 
  a(href='https://github.com/expressjs/express', target='_blank') express