button {color:#fff; background-color: #538ED5; border: 1px solid #538ED5; display: inline-block;padding: 6px 12px;font-size: 14px; cursor: pointer; border-radius: 6px;}
button a {color: #fff;}
table {border: 1px solid #ddd; width: 100%; max-width: 100%; margin-top: 20px; border-spacing: 0; border-collapse: collapse;}
th, td { padding: 8px; line-height: 1.4; text-align: left; border: 1px solid #ddd; border-bottom-width: 2px;}
th {vertical-align: bottom;}
td {vertical-align: middle; max-width: 20%;}
td a {color: #538ED5;}
#mask {position: fixed; background-color: rgba(0, 0, 0, 0.35); top: 0; bottom: 0; left: 0; right: 0;display: none;}
#mask-content {width: 320px; height: 200px; background-color: #fff;position: absolute; top: 50%; left: 50%;margin-top: -100px; margin-left: -160px;border-radius: 4px;}
.mask-tip {display: block; margin-top: 50px; height: 20px; font-size: 16px; line-height: 1.4;text-align: center;font-style: normal;}
.mask-click {margin-top: 50px;text-align: center;}
.mask-btn {display: inline-block; height: 20px; width: 40px;line-height: 1.4; font-size: 16px;padding: 8px 20px;margin: 10px; font-style: normal;border-radius: 4px;cursor: pointer;color: #000;}
#mask-confirm {background-color: #c1e2b3;color: #2b542c;}
#mask-cancel {background-color: #f2dede;color: #a94442;}