#header {position: fixed; top: 0; bottom: 0; width: 270px;box-sizing: border-box;padding: 70px; background-image: url('/img/header-bg.jpg'); background-size: cover;}
#avatar a {display: block;margin: -10px 0 0 -10px; height: 150px; width: 150px; border-radius: 50%; background: url('./avatar.jpg');background-size: 100% 100%;}
#header h1 {font-size: 24px; margin: 20px auto 10px;}
#header a { color: #333;}
#sup > p {margin: 6px auto;color: #666;}
#main-nav {margin-top: 40px}
#main-nav ul {list-style: none;}
#main-nav ul li{font-size: 16px;margin-top: 10px;}
@media screen and (max-width: 1024px) {
    #header {width: 210px; padding: 70px 40px;}
}
@media screen and (max-width: 640px) {
    #header {position: relative; width: 100%; text-align: center; padding-bottom: 20px;background-color: #DAF0FE; background-image: none;}
    #avatar a {position: absolute; top: 30px; left: 30px; width: 50px; height: 50px;}
    #header h1 {margin-top: -40px;}
    #sup {overflow: hidden; text-align: center;display: inline-block;}
    #sup > p {float: left; margin: 0 20px;}
    #main-nav {margin-top: 0px;}
    #main-nav ul {overflow: hidden; display: inline-block; text-align: center;}
    #main-nav ul li{float: left; margin: 0 16px;}
}