header#header
  link(href="/header/header.css", rel="stylesheet")
  #avatar
    a(href='/')
  h1
    a(href='/') Yuchen
  #sup
    p 前端开发
    p 软件定义网络
  nav#main-nav
    ul
      li 
        a(href='/') 首页
      li 
        a(href='/post/archives') 归档
      li 
        a(href='/post/series') 专题
      li 
        a(href='') 关于