meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title #{pageTitle}
script
  include ../../www/static/js/storageDefine.js
meta(name="format-detection", content="telephone=no")
meta(name="description", content="这里是 Yuchen 的主页，记录了一些技术学习的历程")
meta(name="application-name", content="Yuchen 的主页")
meta(name="theme-color", content="#538ED5")
meta(name="apple-mobile-web-app-title", content="Yuchen 的主页")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
link(rel="apple-touch-icon", href="/img/icon.png")
meta(name="msapplication-starturl", content="http://zyuchen.com/")
meta(name="msapplication-navbutton-color", content="#538ED5")
block googleAnalystic
block commonStyle
block uniqueStyle
block lazyload
block adminjs