<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShiningDan 的主页</title>
    <link rel="stylesheet" type="text/css" href="./article.css">
</head>
<body>
    <header id="header">
        <div id="avatar">
            <a href=""></a>
        </div>
        <h1><a href="">ShiningDan</a></h1>
        <div id="sup">
            <p>前端开发</p>
            <p>软件定义网络</p>
        </div>
        <nav id="main-nav">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">归档</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </nav>
    </header>
    <div id="content-wrap">
        <div id="content">

        </div>
        <footer id="footer">© 2017 - ShiningDan 的主页 - <a href="http://www.miitbeian.gov.cn/" target="_blank">京 ICP 备 15046275 号</a>
            <br /> Powered by <a href="https://github.com/expressjs/express" target="_blank">express</a>
        </footer>
    </div>
</body>
</html>