extends ../layout/layout

block uniqueStyle
  style
    include ../../www/static/css/admin-login-combo.css

block commonStyle
  - if (!visited)
    style#common_css
      include ../../www/static/css/common-combo.css
    script ls('common_css', 0);
  - else
    script ll('common_css', 0);

block content
  #login-wrap
    #login
      #tip= tip
      form(method="POST", action="/admin/login")    
        .form-group
          label(for="username") 用户名 ：
          input(type="text", id="username", name="login[name]")
        .form-group
          label(for="password") 密码 ：
          input(type="password", id="password", name="login[pass]")
        .form-group
          button(type="submit") 登录