extends ../layout/layout

block content
  link(href="/home/home.css", rel="stylesheet")
  each abstract in abstracts
    article.post
      .meta
        .date= moment(abstract.meta.createAt).format('YYYY-MM-DD')
        .comments= abstract.comments
      h1.title= abstract.title
      .post-content
        p.abstract= abstract.abstract
        p
          a(href= abstract.link) 继续阅读...