#content article {padding: 20px 0;border-bottom: 1px solid #ccc; position: relative;}
.meta {width: auto; float: right;}
.title {font-size: 28px;}
.post-content {margin-top: 20px;font-size: 16px; line-height: 1.6;}
.post-content p a{display: inline-block; margin: 16px 0; text-decoration: none; color: #538ED5;}