#content article {padding: 20px 0;border-bottom: 1px solid #ccc; position: relative;}
.meta {width: auto; float: right;}
.title {font-size: 32px;font-weight: 400;}
.title a{color: #538ED5;}
.post-content {margin-top: 20px;line-height: 1.6;}
.post-content p a{display: inline-block; margin: 16px 0; color: #538ED5;}