extends ../layout/layout

block style
  style
    include ../../www/static/css/home-combo.css

block content
  each abstract in abstracts
    article.post
      .meta
        .date= moment(abstract.meta.createAt).format('YYYY-MM-DD')
        .comments= abstract.comments
      h1.title: a(href=abstract.link)= abstract.title
      .post-content
        p.abstract= abstract.abstract
        p
          a(href= abstract.link) 继续阅读...