<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShiningDan 的主页</title>
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
    <header id="header">
        <div id="avatar">
            <a href=""></a>
        </div>
        <h1><a href="">ShiningDan</a></h1>
        <p>前端开发</p>
        <p>软件定义网络</p>
        <nav id="main-nav">
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">归档</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </nav>
    </header>
    <div id="content-wrap">
        <div id="content">
            <article class="post">
                <div class="meta">
                    <div class="data">2017-04-08</div>
                    <div class="comments">5 Comments</div>
                </div>
                <h1 class="title">JavaScript 与 JSON</h1>
                <div class="post-content">
                    <p class="sub">JSON和JavaScript确实存在渊源，可以说这种数据格式是从JavaScript对象中演变出来的，它是JavaScript的一个子集。JSON本身的意思就是JavaScript对象表示法（JavaScript Object Notation），它用严格的JavaScript对象表示法来表示结构化的数据。</p>
                    <p><a href="">继续阅读...</a></p>
                </div>
            </article>
            <article class="post">
                <div class="meta">
                    <div class="data">2017-04-08</div>
                    <div class="comments">5 Comments</div>
                </div>
                <h1 class="title">JavaScript 与 JSON</h1>
                <div class="post-content">
                    <p class="sub">JSON和JavaScript确实存在渊源，可以说这种数据格式是从JavaScript对象中演变出来的，它是JavaScript的一个子集。JSON本身的意思就是JavaScript对象表示法（JavaScript Object Notation），它用严格的JavaScript对象表示法来表示结构化的数据。</p>
                    <p><a href="">继续阅读...</a></p>
                </div>
            </article><article class="post">
                <div class="meta">
                    <div class="data">2017-04-08</div>
                    <div class="comments">5 Comments</div>
                </div>
                <h1 class="title">JavaScript 与 JSON</h1>
                <div class="post-content">
                    <p class="sub">JSON和JavaScript确实存在渊源，可以说这种数据格式是从JavaScript对象中演变出来的，它是JavaScript的一个子集。JSON本身的意思就是JavaScript对象表示法（JavaScript Object Notation），它用严格的JavaScript对象表示法来表示结构化的数据。</p>
                    <p><a href="">继续阅读...</a></p>
                </div>
            </article><article class="post">
                <div class="meta">
                    <div class="data">2017-04-08</div>
                    <div class="comments">5 Comments</div>
                </div>
                <h1 class="title">JavaScript 与 JSON</h1>
                <div class="post-content">
                    <p class="sub">JSON和JavaScript确实存在渊源，可以说这种数据格式是从JavaScript对象中演变出来的，它是JavaScript的一个子集。JSON本身的意思就是JavaScript对象表示法（JavaScript Object Notation），它用严格的JavaScript对象表示法来表示结构化的数据。</p>
                    <p><a href="">继续阅读...</a></p>
                </div>
            </article>
            <article class="post">
                <div class="meta">
                    <div class="data">2017-04-08</div>
                    <div class="comments">5 Comments</div>
                </div>
                <h1 class="title">JavaScript 与 JSON</h1>
                <div class="post-content">
                    <p class="sub">JSON和JavaScript确实存在渊源，可以说这种数据格式是从JavaScript对象中演变出来的，它是JavaScript的一个子集。JSON本身的意思就是JavaScript对象表示法（JavaScript Object Notation），它用严格的JavaScript对象表示法来表示结构化的数据。</p>
                    <p><a href="">继续阅读...</a></p>
                </div>
            </article>
        </div>
    </div>
</body>
</html>