#content {color: #444; line-height: 1.6; word-wrap: break-word;}
#content h1 {color: #333; font-size: 2rem; font-weight: 400; line-height: 35px;}
#search{margin-top: 26px; position: relative;}
#keyword-wrapper {margin-right: 72px;}
#keyword {border: 1px solid #bbb; height: 40px; padding: 4px 6px;width: 100%;border-right: 0;font-size: 16px;}
#submit {background-color: #e7e7e7;border: 1px solid #bbb; width: 72px; height: 40px; border-radius: 0;position: absolute; top: 0; right: 0;font-size: 16px;}