doctype html
html(lang="en")
  head
    include ../head/head
  body
    include ../header/header
    #content-wrap
      #content
        block content
        include ../page-nav/page-nav
        block comment
      include ../footer/footer