#content {color: #444; font-size: 16px; line-height: 1.6; word-wrap: break-word; padding-bottom: 20px; border-bottom: 1px solid #ccc;}
#content h1 {color: #333; font-size: 2rem; font-weight: 400; line-height: 35px;}
#content h2 {font-size: 1.4rem;}
#content ul{margin-left: 25px;}
#content p, #content h2, #content ul {margin-top: 15px;}
#content a {color: #538ED5;}
#content a:hover {text-decoration: underline;}
#toc {float: right; border: 1px solid #ccc; padding: 10px; max-width: 260px; min-width: 120px; margin: 0 0 15px 20px;}
#toc ul{ font-size: 16px; list-style: none; margin-left: 0;}
#toc li {color: #538ED5; text-align: center;}
#toc>header{text-align: center; font-size: 16px; border-bottom: 1px solid #ccc; margin: -6px 0 6px;}
.time {display: inline-block; font-size: 14px; color: #666; margin-left: 6px}
@media screen and (max-width: 640px) {
    #toc {float: none; box-sizing: 100%; max-width: 100%; margin: 0 0 20px;}
}